@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$button-base: greenyellow;
$button-hovered: rgb(156,
231,
44);
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(248, 248, 248);
}

header {
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgb(92, 92, 92);
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.add {
    &__list-container {
        border-radius: 50%;
        background-color: rgb(248, 248, 248);
        height: 80%;
        aspect-ratio: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 0px 5px 0px rgb(92, 92, 92);
        svg {
            position: absolute;
        }
    }
    &__button-background {
        circle {
            cursor: pointer;
            transition: fill .3s;
            box-shadow: 0px 0px 5px 0px rgb(92, 92, 92);
        }
        circle:hover {
            fill: $button-hovered;
        }
    }
    &__button-plus {
        cursor: pointer;
        fill: rgb(255, 255, 255);
        z-index: 1;
        &:hover~.add__button-background {
            fill: $button-hovered;
        }
    }
}

.container {
    width: 800px;
    margin: auto;
    padding: 30px;
    padding-top: 120px;
}

.task {
    // .task__list
    &__list {
        // border: 2px greenyellow solid;
        break-inside: avoid;
        box-shadow: 0px 0px 10px 0px rgb(92, 92, 92);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    // .task__list-title
    &__list-title {
        font-size: 28px;
        margin-bottom: 15px;
    }
    // .task__list-list
    &__list-list {}
    // .task__list-item
    &__list-item {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        list-style: none;
        margin-bottom: 15px;
        position: relative;
        &:last-child {
            margin-bottom: 25px;
        }
        &:not(:last-child):after {
            content: '';
            height: 1px;
            background-color: green;
            width: 80%;
            position: absolute;
            bottom: -8px;
        }
    }
    &__list-container {
        position: relative;
        width: 100%;
        display: flex;
        max-height: 21px;
        transition: max-height .3s linear;
    }
    // .task__list-text
    &__list-text {
        font-size: 14px;
        line-height: 21px;
        outline-style: none;
        border: none;
        width: 100%;
        overflow-y: hidden;
        word-wrap: break-word;
        resize: none;
        z-index: 1;
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background-image: linear-gradient(rgba(0, 0, 0, 0) calc(100% - 1px), rgb(224, 224, 224) calc(100% - 1px));
        // background-size: 100% 21px;
        // &:focus {
        //     background-image: linear-gradient(rgba(0, 0, 0, 0) calc(100% - 1px), rgb(161, 161, 161) calc(100% - 1px));
        // }
        &:hover~.task__list-underlines {
            opacity: 1;
        }
        &:focus~.task__list-underlines {
            opacity: 1;
        }
    }
    &__list-underlines {
        background-image: linear-gradient(rgba(0, 0, 0, 0) calc(100% - 1px), rgb(117, 117, 117) calc(100% - 1px));
        background-size: 100% 21px;
        opacity: 0.3;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity .3s;
        &:hover {
            opacity: 1;
        }
    }
    // .task__list-form
    &__list-form {}
    // .task__list-input
    &__list-input {
        // padding: 5px;
        // outline-color: green;
        // border: 1px green solid;
        // border-radius: 5px
    }
    // .task__list-btn
    &__list-btn {
        // padding: 5px 10px;
        // margin-left: 10px;
        // border: 1px green solid;
        // background-color: greenyellow;
        // border-radius: 5px;
        // cursor: pointer;
        // transition: background-color .3s;
        // &:hover {
        //     background-color: $button-hovered;
        // }
    }
    &__list-deleteTaskBtn {
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 12px;
        line-height: normal;
        padding: 4px 10px 4px 15px;
        cursor: pointer;
        transition: color .3s;
        &:hover {
            color: rgb(221, 25, 25);
        }
    }
}

.btn {
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px green solid;
    background-color: greenyellow;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
        background-color: $button-hovered;
    }
}

.input {
    width: fit-content;
    padding: 5px;
    outline-color: green;
    border: 1px green solid;
    border-radius: 5px;
    width: 30%;
}